body
{
margin:0;
}

.container
{
opacity:0.5;
color:black;	
}

.centered {

  position: absolute;
text-align:center;
  top: 50%;
  left: 50%;
color:black;
transform: translate(-50%, -50%);
}


.header
{
margin:0;
background:#000080;
font-size:20px;
color:white;
padding:20px;
}

h1
{
font-size:50px;
}

.mid
{
font-size:30px;
text-align:center;
}

.first
{
text-align:center;
}


.img {
  width: 30%;
  height: auto;
  vertical-align: middle;
}

.footer
{
  padding: 50px;
  background: #808080;
  color: white;
  font-size: 30px;
}

.form
{
text-align:center;
outline:none;
}

input[type=text] {
border:none;
height:40px;
border-bottom=2px;
}

input[type=textarea] {
border:none;
height:40px;
border-bottom=2px;
}


input[type=submit] {
  background-color: #1E90FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

